@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@500;600&family=Signika:wght@500;600&display=swap&family=Noto+Sans+KR:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans KR', sans-serif;
  @apply text-main
}

@layer base {
  header a[aria-current='page'] {
    @apply text-primary font-semibold
  }
}


img {
  -webkit-user-drag: none;
}


/* Loader css */
.loader {
  font-size: 48px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #263238;
  box-sizing: border-box;
  text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
  letter-spacing: 2px;
  position: relative;
}

.loader::after {
  content: 'Loading';
  position: absolute;
  left: 0;
  top: 0;
  color: #FFF;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 6s linear infinite;
}

@keyframes animloader {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}


/* MAP STORE */
#mapList .mapItem {
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 16px;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}

#mapList .mapItem h5 {
  font-weight: 700
}

#mapList .mapItem .info>span {
  @apply block mt-1 truncate
}

#mapList .mapItem .jibun {
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
  @apply text-sub pl-7 leading-[15px] mt-2
}

#mapList .mapItem .phone {
  @apply text-primary
}

#mapPagination {
  @apply flex items-center justify-center gap-4 pt-4
}

#mapPagination .on {
  @apply text-primary
}

/*  MAP 인포윈도우 */
.info_wrap {
  @apply p-4 whitespace-nowrap truncate rounded-lg
}

.info_wrap .info_tt {
  @apply text-base
}

.info_wrap p {
  @apply text-sm text-sub
}

.info_wrap .tel {
  @apply text-sm text-primary
}

.info_wrap .info_link {
  @apply text-sm bg-primary text-center text-white hover:bg-primaryHover mt-3 p-1 rounded-lg
}


/* Login/Join Input  */
.form_input {
  @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset p-4 ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-8
}

.form_label {
  @apply sm:text-sm text-[12px] block font-medium leading-6 opacity-80
}